---
// src/storyblok/landing/SolutionsBlock.astro
import { storyblokEditable } from "@storyblok/astro";
import SolutionsElegant from "../../components/SolutionsElegant.astro";

const { blok } = Astro.props;
---
<div {...storyblokEditable(blok)}>
  <SolutionsElegant />
</div>
