---
import { storyblokEditable } from "@storyblok/astro";
const { blok } = Astro.props;
---

<div {...storyblokEditable(blok)} class="flex items-center justify-center p-6 bg-white rounded-xl border border-gray-100">
  {blok.logo?.filename ? (
    <img
      src={blok.logo.filename}
      alt={blok.name}
      class="h-8 w-auto object-contain grayscale hover:grayscale-0 transition-all"
    />
  ) : (
    <span class="text-sm font-semibold text-gray-500">{blok.name}</span>
  )}
</div>
