---
import "../assets/app.css";
import Navbar from "../components/Navbar/Navbar.astro";
import HeroElegant from "../components/themes/elegant/HeroElegant.astro";
import CompanyElegant from "../components/themes/elegant/CompanyElegant.astro";
import ManagementElegant from "../components/themes/elegant/ManagementElegant.astro";
import SolutionsElegant from "../components/themes/elegant/SolutionsElegant.astro";
import IndustriesElegant from "../components/themes/elegant/IndustriesElegant.astro";
import TestimonialsV2Elegant from "../components/themes/elegant/TestimonialsV2Elegant.astro";
import CTAElegant from "../components/themes/elegant/CTAElegant.astro";
import FooterElegant from "../components/themes/elegant/FooterElegant.astro";
---

<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <title>AI-driven Platform for Enterprises & Telcos | CreaLog</title>
  </head>
  <body>
    <Navbar />
    <HeroElegant />
    <CompanyElegant />
    <ManagementElegant />
    <SolutionsElegant />
    <IndustriesElegant />
    <TestimonialsV2Elegant />
    <CTAElegant />
    <FooterElegant />
  </body>
</html>

<style>
  html, body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
