---
import "../assets/app.css";
import Navbar from "../components/Navbar/Navbar.astro";
import HeroClassic from "../components/themes/classic/HeroClassic.astro";
import Company from "../components/Company.astro";
import SolutionsClassic from "../components/themes/classic/SolutionsClassic.astro";
import Testimonials from "../components/Testimonials.astro";
import TestimonialsV2Classic from "../components/themes/classic/TestimonialsV2Classic.astro";
import FooterClassic from "../components/themes/classic/FooterClassic.astro";
---

<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <title>AI-driven Platform for Enterprises & Telcos | CreaLog — Entwurf Classic</title>
  </head>
  <body>
    <Navbar />
    <HeroClassic />
    <Company />
    <SolutionsClassic />
    <Testimonials />
    <TestimonialsV2Classic />
    <FooterClassic />
  </body>
</html>

<style>
  html, body { margin: 0; width: 100%; height: 100%; }
</style>
