---
// src/layouts/SubPageLayout.astro
import "../assets/app.css";
import Navbar from "../components/Navbar/Navbar.astro";
import FooterElegant from "../components/FooterElegant.astro";
---
<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <title>CreaLog</title>
  </head>
  <body>
    <Navbar />
    <slot />
    <FooterElegant />
  </body>
</html>
<style>
  html, body { margin: 0; width: 100%; height: 100%; }
</style>
